#write your ignore file here
#some common settings blow you can modify these for your own purpose ^-^
#common settings for Visual Studio
#*.sdf
*.VC.db
*.suo
obj/
bin/
Obj/
Bin/
Debug/
Release/

#common settings for C#
*.Cache
*.cache

#common settings for C/C++
*.o
*.obj
ipch/*
*.pch
*.ipch
*.exp